[Desktop Entry]
Type=Application
Name=V-Detect
Comment=AI-Powered Object Detection Application
Exec=VDetect
Icon=vdetect
Terminal=false
Categories=Utility;Graphics;
