[Desktop Entry]
Type=Application
Name=V-Detect
Comment=AI-Powered Object Detection Application
Exec=VDetect --fullscreen
Icon=vdetect
Terminal=false
Categories=Utility;Graphics;
StartupWMClass=VDetect
